**Pre-processing**

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]

print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
cutoff_value = 100
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

# Display the first few rows of the encoded DataFrame
print(application_df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 50 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded['IS_SUCCESSFUL']
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 49)
X_test shape: (6860, 49)
y_train shape: (27439,)
y_test shape: (6860,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

**ATTEMPT 2**

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [13]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define the model
model = Sequential()
model.add(Dense(units=8, activation='relu', input_dim=len(X_train_scaled[0])))
model.add(Dense(units=5, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
history = model.fit(X_train_scaled, y_train, epochs=50, verbose=1, validation_data=(X_test_scaled, y_test))

# Evaluate the model
test_loss, test_accuracy = model.evaluate(X_test_scaled, y_test)
print(f'Test Loss: {test_loss:.4f}')
print(f'Test Accuracy: {test_accuracy:.4f}')

Epoch 1/50
858/858 [==============================] - 4s 3ms/step - loss: 0.6148 - accuracy: 0.6547 - val_loss: 0.5863 - val_accuracy: 0.7207
Epoch 2/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5750 - accuracy: 0.7201 - val_loss: 0.5795 - val_accuracy: 0.7195
Epoch 3/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5637 - accuracy: 0.7222 - val_loss: 0.5685 - val_accuracy: 0.7181
Epoch 4/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7255 - val_loss: 0.5656 - val_accuracy: 0.7208
Epoch 5/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.7266 - val_loss: 0.5634 - val_accuracy: 0.7206
Epoch 6/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7262 - val_loss: 0.5638 - val_accuracy: 0.7216
Epoch 7/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7271 - val_loss: 0.5623 - val_accuracy: 0.7211
Epoch 8/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7264 - val_loss: 0.5626 - val_accuracy: 0.7187
Epoch 9/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7274 - val_loss: 0.5605 - val_accuracy: 0.7211
Epoch 10/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7274 - val_loss: 0.5604 - val_accuracy: 0.7220
Epoch 11/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7317 - val_loss: 0.5586 - val_accuracy: 0.7241
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7315 - val_loss: 0.5584 - val_accuracy: 0.7239
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7313 - val_loss: 0.5589 - val_accuracy: 0.7236
Epoch 14/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7312 - val_loss: 0.5585 - val_accuracy: 0.7236
Epoch 15/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7321 - val_loss: 0.5583 - val_accuracy: 0.7230
Epoch 16/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7312 - val_loss: 0.5586 - val_accuracy: 0.7241
Epoch 17/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7319 - val_loss: 0.5603 - val_accuracy: 0.7243
Epoch 18/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7316 - val_loss: 0.5582 - val_accuracy: 0.7239
Epoch 19/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7319 - val_loss: 0.5583 - val_accuracy: 0.7246
Epoch 20/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7315 - val_loss: 0.5587 - val_accuracy: 0.7243
Epoch 21/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7320 - val_loss: 0.5584 - val_accuracy: 0.7257
Epoch 22/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7314 - val_loss: 0.5578 - val_accuracy: 0.7254
Epoch 23/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7319 - val_loss: 0.5573 - val_accuracy: 0.7235
Epoch 24/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7324 - val_loss: 0.5579 - val_accuracy: 0.7259
Epoch 25/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7326 - val_loss: 0.5572 - val_accuracy: 0.7241
Epoch 26/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7317 - val_loss: 0.5585 - val_accuracy: 0.7239
Epoch 27/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7325 - val_loss: 0.5577 - val_accuracy: 0.7243
Epoch 28/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7322 - val_loss: 0.5602 - val_accuracy: 0.7239
Epoch 29/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7325 - val_loss: 0.5577 - val_accuracy: 0.7258
Epoch 30/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7328 - val_loss: 0.5575 - val_accuracy: 0.7236
Epoch 31/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7322 - val_loss: 0.5577 - val_accuracy: 0.7261
Epoch 32/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7318 - val_loss: 0.5583 - val_accuracy: 0.7248
Epoch 33/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7327 - val_loss: 0.5574 - val_accuracy: 0.7254
Epoch 34/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7328 - val_loss: 0.5584 - val_accuracy: 0.7243
Epoch 35/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7329 - val_loss: 0.5578 - val_accuracy: 0.7242
Epoch 36/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7330 - val_loss: 0.5595 - val_accuracy: 0.7246
Epoch 37/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7328 - val_loss: 0.5578 - val_accuracy: 0.7239
Epoch 38/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7333 - val_loss: 0.5580 - val_accuracy: 0.7243
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7336 - val_loss: 0.5572 - val_accuracy: 0.7248
Epoch 40/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7333 - val_loss: 0.5572 - val_accuracy: 0.7246
Epoch 41/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7328 - val_loss: 0.5579 - val_accuracy: 0.7236
Epoch 42/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7334 - val_loss: 0.5576 - val_accuracy: 0.7249
Epoch 43/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7334 - val_loss: 0.5588 - val_accuracy: 0.7249
Epoch 44/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7337 - val_loss: 0.5574 - val_accuracy: 0.7252
Epoch 45/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7340 - val_loss: 0.5577 - val_accuracy: 0.7252
Epoch 46/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7334 - val_loss: 0.5576 - val_accuracy: 0.7251
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7337 - val_loss: 0.5589 - val_accuracy: 0.7251
Epoch 48/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7334 - val_loss: 0.5579 - val_accuracy: 0.7239
Epoch 49/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7340 - val_loss: 0.5583 - val_accuracy: 0.7251
Epoch 50/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7334 - val_loss: 0.5577 - val_accuracy: 0.7249
215/215 [==============================] - 0s 2ms/step - loss: 0.5577 - accuracy: 0.7249
Test Loss: 0.5577
Test Accuracy: 0.7249