## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [4]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]

print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
cutoff_value = 100
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

# Display the first few rows of the encoded DataFrame
print(application_df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 50 columns]

In [23]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded['IS_SUCCESSFUL']
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 49)
X_test shape: (6860, 49)
y_train shape: (27439,)
y_test shape: (6860,)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [42]:
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=8, activation='relu', input_dim=input_features))


# Second hidden layer
nn.add(Dense(units=5, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))


# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 400

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 451 (1.76 KB)
Trainable params: 451 (1.76 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
# Compile the model

nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [29]:
# Train the model

history = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1, validation_data=(X_test_scaled, y_test))

Epoch 1/50
858/858 [==============================] - 4s 3ms/step - loss: 0.6098 - accuracy: 0.6740 - val_loss: 0.5751 - val_accuracy: 0.7070
Epoch 2/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5650 - accuracy: 0.7192 - val_loss: 0.5655 - val_accuracy: 0.7197
Epoch 3/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5577 - accuracy: 0.7251 - val_loss: 0.5598 - val_accuracy: 0.7222
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7280 - val_loss: 0.5590 - val_accuracy: 0.7254
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7294 - val_loss: 0.5584 - val_accuracy: 0.7277
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7293 - val_loss: 0.5586 - val_accuracy: 0.7277
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7307 - val_loss: 0.5595 - val_accuracy: 0.7299
Epoch 8/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5499 - accuracy: 0.7305 - val_loss: 0.5584 - val_accuracy: 0.7224
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7293 - val_loss: 0.5574 - val_accuracy: 0.7283
Epoch 10/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7309 - val_loss: 0.5566 - val_accuracy: 0.7238
Epoch 11/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7313 - val_loss: 0.5560 - val_accuracy: 0.7245
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7323 - val_loss: 0.5558 - val_accuracy: 0.7242
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7316 - val_loss: 0.5566 - val_accuracy: 0.7242
Epoch 14/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7317 - val_loss: 0.5565 - val_accuracy: 0.7297
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7315 - val_loss: 0.5560 - val_accuracy: 0.7251
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7319 - val_loss: 0.5555 - val_accuracy: 0.7293
Epoch 17/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7319 - val_loss: 0.5563 - val_accuracy: 0.7249
Epoch 18/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7322 - val_loss: 0.5561 - val_accuracy: 0.7239
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7319 - val_loss: 0.5570 - val_accuracy: 0.7300
Epoch 20/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5460 - accuracy: 0.7323 - val_loss: 0.5544 - val_accuracy: 0.7293
Epoch 21/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7322 - val_loss: 0.5550 - val_accuracy: 0.7249
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7320 - val_loss: 0.5559 - val_accuracy: 0.7257
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7328 - val_loss: 0.5552 - val_accuracy: 0.7262
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7330 - val_loss: 0.5552 - val_accuracy: 0.7277
Epoch 25/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5454 - accuracy: 0.7330 - val_loss: 0.5568 - val_accuracy: 0.7268
Epoch 26/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7320 - val_loss: 0.5566 - val_accuracy: 0.7249
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7334 - val_loss: 0.5568 - val_accuracy: 0.7252
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7324 - val_loss: 0.5556 - val_accuracy: 0.7232
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7330 - val_loss: 0.5564 - val_accuracy: 0.7319
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7330 - val_loss: 0.5554 - val_accuracy: 0.7292
Epoch 31/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5447 - accuracy: 0.7322 - val_loss: 0.5557 - val_accuracy: 0.7264
Epoch 32/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7333 - val_loss: 0.5559 - val_accuracy: 0.7268
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7334 - val_loss: 0.5553 - val_accuracy: 0.7283
Epoch 34/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7340 - val_loss: 0.5565 - val_accuracy: 0.7273
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7333 - val_loss: 0.5566 - val_accuracy: 0.7249
Epoch 36/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7330 - val_loss: 0.5560 - val_accuracy: 0.7274
Epoch 37/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7335 - val_loss: 0.5552 - val_accuracy: 0.7284
Epoch 38/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7337 - val_loss: 0.5561 - val_accuracy: 0.7232
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7334 - val_loss: 0.5559 - val_accuracy: 0.7277
Epoch 40/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7339 - val_loss: 0.5556 - val_accuracy: 0.7274
Epoch 41/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7334 - val_loss: 0.5552 - val_accuracy: 0.7281
Epoch 42/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7340 - val_loss: 0.5561 - val_accuracy: 0.7284
Epoch 43/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7338 - val_loss: 0.5559 - val_accuracy: 0.7261
Epoch 44/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7326 - val_loss: 0.5555 - val_accuracy: 0.7278
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7334 - val_loss: 0.5554 - val_accuracy: 0.7297
Epoch 46/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7338 - val_loss: 0.5555 - val_accuracy: 0.7276
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7345 - val_loss: 0.5561 - val_accuracy: 0.7276
Epoch 48/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5432 - accuracy: 0.7338 - val_loss: 0.5554 - val_accuracy: 0.7274
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7329 - val_loss: 0.5565 - val_accuracy: 0.7252
Epoch 50/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7340 - val_loss: 0.5564 - val_accuracy: 0.7277

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5564 - accuracy: 0.7277 - 1s/epoch - 6ms/step
Loss: 0.5563837289810181, Accuracy: 0.7276967763900757

In [41]:
# Export our model to HDF5 file
model_filename = 'AlphabetSoupCharity.h5'


# Save the model to the specified file path
nn.save(model_filename)

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [43]:
model = load_model('AlphabetSoupCharity.h5')